[group]
x.x.x.x docker_user=<user1> variable2=<value>
y.y.y.y docker_user=<user2>

[group:vars]
ansible_user = <user-name>
ansible_pass = <user-password>
ansible_ssh_private_key_file = /private/key/path
ansible_become_password = <sudo-password>