1 */12 * * * {{ docker_user_name }} docker start mage-certbot
2 */12 * * * root cp -Lf {{ project_dir }}/letsencrypt/conf/live/scific/* {{ project_dir }}/letsencrypt/conf/live/mage/
3 */12 * * * {{ docker_user_name }} docker exec mage-nginx nginx -s reload
